<footer class="footer bg-light dark:bg-gray-800 py-10">
  <div class="container mx-auto">
    <h2 class="footer__title text-3xl mb-3">Get the FreshCart app</h2>
    <p class="footer__desc mb-4">
      We will send you a link, open it on your phone to download the app
    </p>
    <div class="footer__subscription flex items-center gap-x-4 mb-8">
      <label
        for="default-input"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      ></label>
      <input
        type="text"
        id="default-input"
        placeholder="Email..."
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-[70%] sm:w-[80%] md:w-[80%] lg:w-[85%] p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      <button
        type="button"
        class="cursor-pointer text-white bg-main hover:bg-green-500 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm w-[30%] py-2 sm:w-[20%] sm:py-2 sm:px-2 md:w-[20%] md:py-2 md:px-2 lg:w-[15%] dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >
        Share App Link
      </button>
    </div>
    <div
      class="footer__payment flex justify-between border-t-1 border-b-1 border-gray-300 py-5"
    >
      <p>Payment Partners</p>
      <p>Get deliveries with FreshCart</p>
      <button
        type="button"
        class="cursor-pointer text-white bg-[#050708] hover:bg-[#050708]/80 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#050708]/40 dark:focus:ring-gray-600 me-2 mb-2"
      >
        <svg
          class="w-5 h-5 me-2 -ms-1"
          aria-hidden="true"
          focusable="false"
          data-prefix="fab"
          data-icon="apple"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
        >
          <path
            fill="currentColor"
            d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"
          ></path>
        </svg>
        Available on the App Store
      </button>
      <button
        type="button"
        class="cursor-pointer text-white bg-[#050708] hover:bg-[#050708]/80 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#050708]/40 dark:focus:ring-gray-600 me-2 mb-2"
      >
        <img
          src="images/google-play-svgrepo-com.svg"
          alt=""
          class="w-8 pe-2.5"
        />
        GET IT ON Google Play
      </button>
    </div>
  </div>
</footer>
