@if(ControlName?.errors && ControlName?.touched) {

<div
  class="flex p-4 my-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
  role="alert"
>
  <svg
    class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 20 20"
  >
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
    />
  </svg>
  <span class="sr-only">Danger</span>
  <div>
    <ul class="list-inside">
      @if (ControlName?.getError('required')) {
      <li>Input is required</li>
      } @else if (ControlName?.getError('minlength')) {
      <li>At least three character's</li>
      } @else if (ControlName?.getError('maxlength')) {
      <li>At least 3 characters (and up to 30 characters)</li>
      }@else if (ControlName?.getError('email')) {
      <li>{{ "Invalid Email Should contain @ and .com" }}</li>
      }@else if (ControlName?.getError('pattern')) {
      <li>
        <!-- Minimum eight and maximum 10 characters, at least one uppercase letter, -->
        <!-- one lowercase letter, one number and one special character -->
        Invalid Input pattern
      </li>
      <!-- }@else if (ControlName?.getError('pattern')) { -->
      <!-- <li>Invalid Phone number</li> -->
      }
    </ul>
  </div>
</div>
}
